@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}
@-moz-keyframes Floating {
  from {
    -moz-transform: translate(0, 0px);
  }
  65% {
    -moz-transform: translate(0, 15px);
  }
  to {
    -moz-transform: translate(0, 0px);
  }
}
@keyframes cloud-a {
  0% {
    left: 10%;
  }
  100% {
    left: 110%;
  }
}
@keyframes cloud-two {
  0% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}
@keyframes cloud-three {
  0% {
    left: 70%;
  }
  100% {
    left: 110%;
  }
}
@keyframes cloud-four {
  0% {
    left: 15%;
  }
  100% {
    left: 110%;
  }
}
.cloud-one {
  position: absolute;
  z-index: 10;
  background: url("../images/cloud1.svg") no-repeat;
  background-size: cover;
  top: 15%;
  width: 147px;
  height: 80px;
  animation: cloud-a 40s linear infinite;
  -webkit-animation: cloud-a 40s linear infinite;
  -ms-animation: cloud-a 40s linear infinite;
  -moz-animation: cloud-a 40s linear infinite;
  -o-animation: cloud-a 40s linear infinite;
}
.cloud-two {
  position: absolute;
  z-index: 10;
  background: url("../images/cloud2.svg") no-repeat;
  background-size: cover;
  top: 10%;
  width: 138px;
  height: 61px;
  z-index: 4;
  animation: cloud-two 90s linear infinite;
  -webkit-animation: cloud-two 90s linear infinite;
  -ms-animation: cloud-two 90s linear infinite;
  -moz-animation: cloud-two 90s linear infinite;
  -o-animation: cloud-two 90s linear infinite;
}
.cloud-three {
  position: absolute;
  z-index: 10;
  background: url("../images/cloud1.svg") no-repeat;
  background-size: cover;
  width: 147px;
  height: 80px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
  top: 40%;
  left: 50px;
  z-index: 8;
  animation: cloud-three 60s linear infinite;
  -webkit-animation: cloud-three 60s linear infinite;
  /*-ms-animation: cloud-two 90s linear infinite;*/
  /*-moz-animation: cloud-two 90s linear infinite;*/
  /*-o-animation: cloud-two 90s linear infinite;*/
}
.cloud-four {
  position: absolute;
  z-index: 10;
  background: url("../images/cloud2.svg") no-repeat;
  background-size: cover;
  width: 138px;
  height: 61px;
  z-index: 4;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
  top: 25%;
  animation: cloud-four 60s linear infinite;
  -webkit-animation: cloud-four 60s linear infinite;
}
.button.center {
  text-align: center;
}
.button.gray-lt {
  background: #8c8c8c;
}
#header {
  background-image: url("directive/images/top-3200.svg"), #b5d7ba;
  /* Old browsers */
  background-image: url("directive/images/top-3200.svg"), -moz-linear-gradient(top, #b5d7ba 0%, #d0e2c1 50%, #e7ebc7 100%);
  /* FF3.6+ */
  background-image: url("directive/images/top-3200.svg"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b5d7ba), color-stop(50%, #d0e2c1), color-stop(100%, #e7ebc7));
  /* Chrome,Safari4+ */
  background-image: url("directive/images/top-3200.svg"), -webkit-linear-gradient(top, #b5d7ba 0%, #d0e2c1 50%, #e7ebc7 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: url("directive/images/top-3200.svg"), -o-linear-gradient(top, #b5d7ba 0%, #d0e2c1 50%, #e7ebc7 100%);
  /* Opera 11.10+ */
  background-image: url("directive/images/top-3200.svg"), -ms-linear-gradient(top, #b5d7ba 0%, #d0e2c1 50%, #e7ebc7 100%);
  /* IE10+ */
  background-image: url("directive/images/top-3200.svg"), linear-gradient(to bottom, #b5d7ba 0%, #d0e2c1 50%, #e7ebc7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5d7ba', endColorstr='#e7ebc7', GradientType=0);
  /* IE6-9 */
}
#header .title {
  background: url(../images/binary-title.svg) no-repeat;
  width: 400px;
  height: 94px;
  background-size: 400px 94px;
  z-index: 5;
  margin: 0 auto;
  position: relative;
}
header.major {
  padding-bottom: 2em;
}
header.major p .small {
  font-size: 70%;
}
header.major .lead {
  text-transform: none;
  line-height: 1.4em;
}
header.major .pop {
  line-height: 1.4em;
  text-transform: none;
  font-style: italic;
}
#cloudcity {
  position: relative;
  z-index: 5;
}
#cloudcity .city {
  z-index: 5;
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}
#cloudcity .banner {
  position: absolute;
  top: 50%;
  left: calc(50% - 200px);
}
#cloudcity .banner2 {
  position: absolute;
  top: 100%;
  left: calc(50% - 100px);
}
.roll20 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ee2679;
}
.roll20:before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url('../images/roll20-32.png') 50% 50% no-repeat;
  background-size: 32px 32px;
  padding: 0 25.6px;
}
.roll20-sm {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ee2679;
}
.roll20-sm:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../images/roll20-32.png') 50% 50% no-repeat;
  background-size: 16px 16px;
  padding: 0 12.8px;
}
.games .foot {
  line-height: 100%;
  font-size: 80%;
}
#services {
  width: 71em;
}
#services .box {
  background: #fff;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}
#services header {
  padding: 2.1em 0;
}
#services header:after {
  content: none;
}
#services header p {
  margin: 0;
  text-transform: none;
  letter-spacing: initial;
}
#services footer {
  padding: 2em 0;
}
#services footer:before {
  content: none;
}
#services footer p {
  margin: 0;
}
#services .box h3 {
  line-height: 90%;
}
#services .box h3 span {
  font-size: 80%;
}
#services ul.actions {
  margin-top: 2em;
}
#services ul.actions .button.pop {
  font-size: 101%;
}
#services ul.actions .button.drop {
  font-size: 80%;
}
ul.check {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 90%;
  line-height: 90%;
}
ul.check li {
  margin: 1em;
}
ul.check li:before {
  content: '';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #ee2b7b;
}
.box.container.space {
  margin-top: 5em;
}
section p.lead {
  color: #888888;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  margin-bottom: 1em;
}
