@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}
@-moz-keyframes Floating {
  from {
    -moz-transform: translate(0, 0px);
  }
  65% {
    -moz-transform: translate(0, 15px);
  }
  to {
    -moz-transform: translate(0, 0px);
  }
}
@keyframes cloud-a {
  0% {
    left: 10%;
  }
  100% {
    left: 110%;
  }
}
@keyframes cloud-two {
  0% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}
@keyframes cloud-three {
  0% {
    left: 70%;
  }
  100% {
    left: 110%;
  }
}
@keyframes cloud-four {
  0% {
    left: 15%;
  }
  100% {
    left: 110%;
  }
}
.cloud-one {
  position: absolute;
  z-index: 10;
  background: url("../images/cloud1.svg") no-repeat;
  background-size: cover;
  top: 15%;
  width: 147px;
  height: 80px;
  animation: cloud-a 40s linear infinite;
  -webkit-animation: cloud-a 40s linear infinite;
  -ms-animation: cloud-a 40s linear infinite;
  -moz-animation: cloud-a 40s linear infinite;
  -o-animation: cloud-a 40s linear infinite;
}
.cloud-two {
  position: absolute;
  z-index: 10;
  background: url("../images/cloud2.svg") no-repeat;
  background-size: cover;
  top: 10%;
  width: 138px;
  height: 61px;
  z-index: 4;
  animation: cloud-two 90s linear infinite;
  -webkit-animation: cloud-two 90s linear infinite;
  -ms-animation: cloud-two 90s linear infinite;
  -moz-animation: cloud-two 90s linear infinite;
  -o-animation: cloud-two 90s linear infinite;
}
.cloud-three {
  position: absolute;
  z-index: 10;
  background: url("../images/cloud1.svg") no-repeat;
  background-size: cover;
  width: 147px;
  height: 80px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
  top: 40%;
  left: 50px;
  z-index: 8;
  animation: cloud-three 60s linear infinite;
  -webkit-animation: cloud-three 60s linear infinite;
  /*-ms-animation: cloud-two 90s linear infinite;*/
  /*-moz-animation: cloud-two 90s linear infinite;*/
  /*-o-animation: cloud-two 90s linear infinite;*/
}
.cloud-four {
  position: absolute;
  z-index: 10;
  background: url("../images/cloud2.svg") no-repeat;
  background-size: cover;
  width: 138px;
  height: 61px;
  z-index: 4;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
  top: 25%;
  animation: cloud-four 60s linear infinite;
  -webkit-animation: cloud-four 60s linear infinite;
}
