---
title: Digital Tabletop RPG Services &middot; Casey Link's Binary Elysium
---
<header class="major container 75%">
    <h3 id="areyouready">There's more to 21st century gaming than PDF<span class="small">s</span></h3>

    <p class="lead">The digital revolution is storming the tabletop market. The online, virtual tabletop is here.</p>
    <p class="pop">Is your game ready?</p>

</header>

<div class="box container space">
    <header>
        <h2>Why <span class="roll20">Roll 20<span>?</h2>
            <p>Why not the other virtual tabletops?</p>
    </header>
    <section>
        <p class="lead">Roll 20 is Everywhere</p>
        <p>More people can come together to play tabletop games than ever before, thanks to Roll 20's cutting edge technology. Players and GMs can game together with anyone from across the world, on PCs, Macs, smartphones, and tablets.</p> 
        <p class="lead">Roll 20 is Sustainable</p>
        <p>After a massively successful Kickstarter in 2012, Roll 2012 is still growing and expanding with support from its user base: the players and GMs who game online.</p>
        <p class="lead">Roll 20 is Ready For Your Game</p>
        <p>Unlike many other virtual tabletops, Roll 20 <em>really is system agnostic</em>. It's features are suitable for all game types from rules light theater-of-the mind narrative play to the crunchiest wargame simulators.</p>
        <h3>Want to know more?</h3>
        <p>Great! I've put together a whitepaper that provides a thorough intro to Roll 20 from your game publisher's perspective. It will answer your questions:
        </p>
        <ul class="check">
            <li>What is Roll 20?
            <li>What are the copyright issues around Roll 20?
            <li>Isn't Roll 20 only good for mini-based games like Pathfinder, D&amp;D 4e? (<em>hint: nope!</em>)
            <li>How can I use Roll 20 to promote my game?
            <li>What does it mean for Roll 20 to <em>'support'</em> a game?
            <li>What is the Roll 20 API and how does it relate to me?
        </ul>
        <ul class="actions"><li><a href="#" class="button"><i class="icon fa-cloud-download"></i>Download: Roll 20 - The Need To Know</a></li></ul>
        <p>Please note, I do not work for Roll 20 and have no affiliation with them except for being a Mentor supporter community developer.</p></p>
    </section>
    <footer>
    </footer>
</div>

<section class="container" id="services">
    <header class="major container 75%">
        <h2 id="roll20-packages"><span class="roll20">Roll20</span> Creations</h2>
        <p>Reach more players with one of my Roll 20 packages.</p>
    </header >
    <div class="row uniform">
        <div class="4u">
            <section class="box special">
                <i class="icon major fa-user"></i>

                <h3>Character Sheet<br/><span>Basic</span></h3>
                <h4>$200</h3>
                <p>
                I'll create an interactive Roll 20 character sheet with your game's style and feel.</p>
                <ul class="check">
                    <li>Works for all Roll 20 members</li>
                </ul>
                <ul class="actions"><li><a href="#" class="button drop">Learn More</a></li></ul>
            </section>
        </div>

        <div class="4u">
            <section class="box special">
                <i class="icon major fa-tint"></i>

                <h3>Character Sheet <br/><span>Advanced</span></h3>
                <h4>$500</h4>

                <p>
                A fully interactive and branded character sheet that leverages the full power of the Roll 20 API.
                </p>
                <ul class="check">
                    <li>Basics for all Roll 20 members</li>
                    <li>Advanced for mentor GMs</li>
                </ul>
                <ul class="actions"><li><a href="#" class="button pop">Learn More</a></li></ul>
            </section>
        </div>

        <div class="4u">
            <section class="box special">
                <i class="icon major fa-cog"></i>

                <h3>Custom Game Engine</h3>
                <h4>$800</h4>

                <p>Custom dice pools? Complex point-spending? No problem. I'll build a custom game engine for your game using the powerful Roll 20 API.</p>
                <ul class="check">
                    <li>Requires GM mentor subscription</li>
                </ul>
                <ul class="actions"><li><a href="#" class="button drop">Learn More</a></li></ul>
            </section>
        </div>
    </div>

    <footer class="major container 75%">
        <p>You must be the original copyright holder to order a commission.</p>
        <p>Roll 20 and the pink d20 logo are &copy; Orr Group.</p>
        <p>All game materials and branding are &copy; their respective publishers.</p>
    </footer>
</section>
